{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Course</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/TD.css' %}">
</head>
<body>
<header>
    <h1>Edit Course</h1>
        <nav>
        <form id="logout-form" method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </nav>
</header>
<main>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary" name="save_course">Save Changes</button>
    </form>

    <h3>Lessons</h3>
    <ul>
        {% for lesson in lessons %}
        <li>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="lesson_id" value="{{ lesson.id }}">
                <div>
                    <label for="lesson_name_{{ lesson.id }}">Lesson Name:</label>
                    <input type="text" name="name" id="lesson_name_{{ lesson.id }}" value="{{ lesson.name }}">
                </div>
                <div>
                    <label for="lesson_description_{{ lesson.id }}">Lesson Description:</label>
                    <textarea name="description" id="lesson_description_{{ lesson.id }}">{{ lesson.description }}</textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-sm" name="save_lesson">Save Lesson</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</main>
</body>
</html>
