{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Register</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Register
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" name="username" class="form-control" id="id_username"
                                   placeholder="Username" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="first_name" class="form-control" id="id_first_name"
                                   placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <input type="text" name="last_name" class="form-control" id="id_last_name"
                                   placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-control" id="id_email" placeholder="Email"
                                   required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password1" class="form-control" id="id_password1"
                                   placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password2" class="form-control" id="id_password2"
                                   placeholder="Confirm Password" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="address_line1" class="form-control" id="id_address_line1"
                                   placeholder="Address Line 1" required>
                        </div>
                        <div class="form-group">
                            <input type="text" name="address_line2" class="form-control" id="id_address_line2"
                                   placeholder="Address Line 2">
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
