<nav class="nav flex-column">
    <a class="nav-link {% if request.resolver_match.url_name == 'teacher-dashboard' %}active{% endif %}"
       href="{% url 'teacher-dashboard' %}">Dashboard</a>
    <a class="nav-link" href="{% url 'home' %}">Home Page</a>
    <a class="nav-link {% if request.resolver_match.url_name == 'course-create' %}active{% endif %}"
       href="{% url 'course-create' %}">Create a Course</a>
    <a class="nav-link {% if request.resolver_match.url_name == 'manage-account' %}active{% endif %}"
       href="{% url 'manage-account' %}">Manage Account</a>
    <a class="nav-link {% if request.resolver_match.url_name == 'manage-quizzes' %}active{% endif %}"
       href="{% url 'manage-quizzes' %}">Manage Quizzes</a>
    <!-- Logout form -->
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="nav-link btn btn-link p-0" style="margin-top: 30px">Logout</button>
    </form>
</nav>
