{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/TD.css' %}">
    <title>{{ course.name }} - Enrolled Students</title>
</head>
<body>
<header>
    <h1>{{ course.name }} - Enrolled Students</h1>
    <nav>
        <form id="logout-form" method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </nav>
</header>
<main>
    <ul>
        {% for enrollment in enrollments %}
            <li>
                {{ enrollment.user.username }}
                <a href="{% url 'teacher-student-progress' course.id enrollment.user.id %}" class="btn btn-info btn-sm">View
                    Progress</a>
            </li>
        {% endfor %}
    </ul>
</main>
</body>
</html>
