{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/TD.css' %}">
    <title>{{ student.username }} - Progress in {{ course.name }}</title>
</head>
<body>
<header>
    <h1>{{ student.username }} - Progress in {{ course.name }}</h1>
    <nav>
        <form id="logout-form" method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </nav>
</header>
<main>
    <h3>Completed Lessons</h3>
    <ul>
        {% for completion in completions %}
        <li>{{ completion.lesson.name }}</li>
        {% endfor %}
    </ul>
     <h3>Feedbacks</h3>
        <ul>
            {% for feedback in feedbacks %}
            <li>
                <strong>{{ feedback.lesson.name }}:</strong> {{ feedback.comment }}
            </li>
            {% endfor %}
        </ul>
</main>
</body>
</html>
