body {
    background-color: #f8f9fa;
}

h2 {
    color: #900;
    margin-bottom: 20px;
}

.form-control {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.btn-success {
    background-color: #28a745;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

.btn-success:hover {
    background-color: #218838;
}
