body {
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.btn-link {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    margin-right: 15px;
    font-weight: bold;
}

.btn-link:hover {
    color: #ca62a4;
}

.btn-custom {
    background-color: #db8141;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
}

.btn-custom:hover {
    background-color: #ca62a4;
    color: white;
}

.hero-section {
    height: 700px;
    position: relative;
}

.hero-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo-center {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.logo-center img.logo-image {
    max-height: 200px;
    width: auto;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;
}

.hero-text h1 {
    font-size: 4em;
    font-family: Merriweather, serif;
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.hero-text p {
    font-family: Merriweather, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-rendering: optimizeLegibility;
}

.hero-text .btn-group .btn {
    margin-right: 40px;
    background-color: #900;
    border: none;
    padding: 20px 25px;
}

.hero-text .btn-group .btn:hover {
    background-color: #841626;
}

.menu-icon {
    position: absolute;
    top: 40px;
    left: 90px;
    z-index: 3;
}

.menu-icon i {
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.search-box {
    position: absolute;
    top: 40px;
    right: 55px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    z-index: 3;
}

.search-box input {
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
}

.search-box i {
    font-size: 24px;
    color: black;
    cursor: pointer;
    margin-left: 5px;
}

.carousel-container {
    max-width: 1200px;
    padding: 0 20px;
}

h2 {
    font-family: Merriweather, serif;
    font-style: normal;
    font-weight: 300;
    color: inherit;
    text-rendering: optimizeLegibility;
}

.carousel-controls {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.carousel-controls .btn {
    font-family: Merriweather, serif;
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
}

.carousel-controls .btn:hover {
    background-color: #f0f0f0;
}

.card {
    height: 100%; /* Allow cards to stretch to fill available height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: white;
}
.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    flex-grow: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-category-modality {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.card-category,
.card-modality {
    font-size: 0.9em;
    color: #900;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.card-category i,
.card-modality i {
    margin-right: 5px;
}

.card-title {
    font-size: 1.25em;
    font-weight: bold;
    margin: 10px 0;
    color: #900;
}

.card-text {
    font-size: 1em;
    color: #333;
    margin-bottom: 20px;
    height: 4.5em; /* 3 lines height */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to display */
    -webkit-box-orient: vertical;
}

.card-price-duration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    color: #333;
    font-weight: bold;
    margin-top: auto; /* Push the content to the bottom */
}

.card-price,
.card-duration,
.card-start-date {
    margin: 0;
}

.card-price::before {
    content: '';
    margin-right: 2px;
}

.card-start-date {
    color: #900;
}

.subject-areas {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: white;
    margin-top: 75px;
    margin-bottom: 40px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.subject-areas h2 {
    font-family: Merriweather, serif;
    font-style: normal;
    font-weight: 300;
    color: #333;
    text-rendering: optimizeLegibility;
}

.subject-area {
    display: flex;
    align-items: center;
    color: #900;
}

.subject-area i {
    color: #900;
    margin-right: 10px;
}

.subject-area h5 {
    font-family: Merriweather, serif;
    font-size: 1.2em;
    font-weight: 400;
    color: inherit;
    margin: 0;
}

.all-courses-btn {
    background-color: #900;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.all-courses-btn:hover {
    background-color: #841626;
    cursor: pointer;
    text-decoration: none;
}

.journey-section {
    background-color: #900;
    color: white;
    padding: 60px 0;
    text-align: center;
    margin: 60px 0;
}

.journey-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.journey-button {
    background-color: #db8141;
    color: #fff;
    padding: 25px 35px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.journey-button:hover {
    color: white;
    background-color: #ca62a4;
    text-decoration: none;
}

.journey-text {
    font-size: 2em;
    font-family: Merriweather, serif;
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.content {
    flex: 1;
}