body {
    font-family: Arial, sans-serif;
    background-color: #161b22;
    margin: 0;
    padding: 20px;
}

.card {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
    background-color: black;
    color: white;
    border-bottom: none;
}

.card-body {
    padding: 20px;
}

.card-footer {
    background-color: #f8f9fa;
}

.btn-primary {
    background-color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.alert-info {
    background-color: #d1ecf1;
    color: #0c5460;
    border-color: #bee5eb;
}

.alert-info ul {
    list-style: none;
    padding: 0;
}
