/* Sidebar Styles */

.nav.flex-column .nav-link {
    font-size: 1.1em;
    color: #555;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
}

.nav.flex-column .nav-link.active {
    background-color: #900;
    color: white;
}

.nav.flex-column .nav-link:hover {
    background-color: #700;
    color: white;
}
