/* Teacher's Dashboard - Course Card */
.course-card {
    display: flex;
    border: 1px solid #ddd; /* Add border to the card */
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: white;
    cursor: pointer;
}

.course-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add hover effect */
}

.course-card img {
    max-width: 100%;
    border-radius: 5px; /* Ensure the image has the same border radius as the card */
}

.course-card h4 {
    margin-top: 0;
    font-size: 1.5em;
    color: #900; /* Matching color */
}

.course-card p {
    margin: 5px 0;
    color: #555; /* Subtle text color */
}

.course-card .manage-course {
    font-weight: bold;
    font-size: 2.6em;
    color: #900;
}

/* Activity Feed Styles */
.activity-feed {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.activity-item {
    margin-bottom: 15px;
}

.activity-item p {
    color: #555;
    font-weight: bold;
}

.activity-item .btn {
    background-color: #900;
    color: white;
}

.activity-item .btn:hover {
    background-color: #700;
}
