.top-bar {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.6);
    width: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.logo {
    max-height: 70px;
    padding-left: 60px;
}

/* Button styles */
.btn-custom {
    background-color: #900 !important; /* Force the background color */
    color: white !important; /* Force the text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.btn-custom:hover {
    background-color: #700 !important; /* Force the hover background color */
    text-decoration: none !important; /* Prevent underline on hover */
}

/* Dropdown custom styles */
.dropdown-menu {
    background-color: #900; /* Background color for dropdown menu */
    color: white;
    border-radius: 5px; /* Match with your button's border-radius */
    border: none; /* Remove any border */
}

.dropdown-item.active {
    background-color: #700 !important;
    color: white;
}

.dropdown-item:hover {
    background-color: #700;
    color: white;
}

.dropdown-menu .dropdown-item {
    background-color: #900;
    color: white; /* Text color for dropdown items */
    padding: 10px 20px; /* Add padding for dropdown items */
}

/* Ensuring Dropdown Toggle and Items Don't Turn Gray */
.dropdown-toggle:hover,
.dropdown-toggle:focus {
    background-color: #700 !important; /* Hover and focus effect for both dropdown toggle and items */
    color: white !important; /* Ensure the text color is consistent */
}

.dropdown-menu.show {
    background-color: #900; /* Keep the background color consistent when open */
    color: white !important; /* Ensure text remains white */
}
